@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* ===== SCROLLBAR INVISIBLE PERO FUNCIONAL ===== */

/* Chrome, Edge, Safari */
.scroll-hidden::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scroll-hidden::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-hidden::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Firefox */
.scroll-hidden {
  scrollbar-width: none;
}

/* Edge Legacy */
.scroll-hidden {
  -ms-overflow-style: none;
}
